<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.wwu.de/pi/acse/crudDslXX/CrudDslXX" 
       class = "de.wwu.pi.acse.crudDslXX.crudDslXX.CrudDslXXPackage"
       genModel = "model/generated/CrudDslXX.genmodel" /> 
	
  </extension>



</plugin>
